<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Account - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1>Your account.</h1>
            <p class="text-size-xl">Logged in as <span id="name"></span></p>
        </header>

        <main>
            <div class="grid lg:grid-cols-2 gap-4">
                <div>
                    <h2 class="ph-b">Bookings</h2>
                    <ul id="bookingsList" class="grid gap-2"></ul>
                    <p id="errorMsg"></p>
                </div>
                <div>
                    <h2 class="ph-b">Account details</h2>
                    <p>Email: <span id="email"></span></p>
                    <p>User ID: <span id="id"></span></p>
                    <p><button class="btn-red" onclick="deleteAccount();">Delete my account</button></p>
                </div>
            </div>
        </main>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/auth.js"></script>
        <script src="/js/account.js"></script>
        <script src="/js/user_bookings.js"></script>
        <script src="/js/requireLogin.js"></script>
        <script>
            reloadBookings();

            function reloadBookings() {
                getUserBookings()
                    .then(data => {
                        displayBookingsList(data);
                    })
                    .catch(error => {
                        if (error.statusCode === 404) {
                            $('#errorMsg').text("You don't have any rooms booked.");
                        } else {
                            $('#errorMsg').text("Unable to fetch bookings, please see JavaScript console for technical errors.");
                            console.log(error);
                        }
                    });
            }
        </script>
    </body>
</html>