<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Account - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1>Your account.</h1>
            <p class="text-size-xl">Logged in as <span id="name"></span></p>
        </header>

        <main>
            <h2 class="ph-b">Account details</h2>
            <p>Email: <span id="email"></span></p>
            <p>User ID: <span id="id"></span></p>
            <p><button class="btn-red" onclick="deleteAccount();">Delete my account</button></p>
        </main>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/auth.js"></script>
        <script src="/js/account.js"></script>
    </body>
</html>