<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Account - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1>Your account.</h1>
            <p class="text-size-xl">Logged in as <span id="name"></span></p>
        </header>

        <main>
            <div class="grid lg:grid-cols-2 gap-4">
                <div>
                    <h2 class="ph-b">Bookings</h2>
                    <div id="manageBooking" class="hidden card-neutral-static card-content mb-2 grid gap-2 text-center">
                        <h3>Your booking in Room <span id="roomNumber" class=""></span></h3>
                        <p>Check-in time: 2pm</p>
                        <p>Check-out time: 11am</p>
                        <div class="flex space-x-2">
                            <label for="startDate">Check-in:</label>
                            <input type="date" id="startDate" class="flex-grow">
                        </div>
                        <div class="flex space-x-2">
                            <label for="endDate">Check-out:</label>
                            <input type="date" id="endDate" class="flex-grow">
                        </div>
                        <p>Booking ID: <span id="bookingId" class=""></span></p>

                        <h4>Check-in Code</h4>
                        <img src="" id="barcode" alt="Booking ID" class="mx-auto">

                        <h4>Actions</h4>
                        <button id="updateBookingButton" class="btn-neutral" onclick="startUpdateBooking()">Update Booking</button>
                        <button id="viewRoomButton" class="btn-neutral" onclick="goToRoom()">View Room</button>
                        <button id="deleteBookingButton" class="btn-red" onclick="startDeleteBooking()">Cancel Booking</button>
                    </div>
                    <ul id="bookingsList" class="grid gap-2"></ul>
                    <p id="errorMsg">Loading...</p>
                </div>
                <div>
                    <h2 class="ph-b">Account details</h2>
                    <div class="grid gap-2">
                        <div class="flex space-x-2">
                            <label for="nameInput">Name:</label>
                            <input id="nameInput" class="flex-grow">
                        </div>
                        <div class="flex space-x-2">
                            <label for="emailInput">Email:</label>
                            <input id="emailInput" class="flex-grow">
                        </div>
                        <div class="flex space-x-2">
                            <label for="passInput">New password:</label>
                            <input id="passInput" class="flex-grow">
                        </div>
                        <p>User ID: <span id="id"></span></p>
                        <div class="grid grid-cols-2 gap-2">
                            <button class="btn-neutral" onclick="updateAccount();">Save account details</button>
                            <button class="btn-red" onclick="deleteAccount();">Delete my account</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/requests/user_request.js"></script>
        <script src="/js/requests/user_update.js"></script>
        <script src="/js/requests/booking_delete.js"></script>
        <script src="/js/requests/booking_update.js"></script>
        <script src="/js/account.js"></script>
        <script src="/js/user_bookings.js"></script>
        <script src="/js/requireLogin.js"></script>
        <script>
            reloadBookings();

            function reloadBookings() {
                getUserBookings()
                    .then(data => {
                        $('#errorMsg').text("");
                        displayBookingsList(data);
                    })
                    .catch(error => {
                        if (error === 404) {
                            $('#errorMsg').text("You don't have any rooms booked.");
                        } else {
                            $('#errorMsg').text("Unable to fetch bookings, please see JavaScript console for technical errors.");
                            console.log(error);
                        }
                    });
            }
        </script>
    </body>
</html>