<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room Booking System</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <p>It's working!</p>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/rooms.js"></script>
    </body>
</html>