<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1>Welcome back.</h1>
            <p class="text-size-xl">It's great to see you again.</p>
        </header>

        <main>
            <form class="text-center grid max-w-sm mx-auto gap-2">
                <label for="email">Email address</label>
                <input type="text" id="email">
                <div></div>
                <label for="password">Password</label>
                <input type="password" id="password">
                <div></div>
                <button type="button" onclick="login();" class="btn-neutral">Login</button>
            </form>
            <p class="text-sm text-center">Not got an account? <a href="/register" class="link-inline">Join Hotel Plymouth</a>.</p>
        </main>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/requests/user_request.js"></script>
    </body>
</html>