<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Logout - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1>You've been logged out.</h1>
            <p class="text-size-xl">You can safely close the browser window.</p>
        </header>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/logout.js"></script>
    </body>
</html>