<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Server offline</title>
        <link href="/css/client.css" rel="stylesheet">
    </head>

    <body class="bg-red-100">
        <div class="max-w-xl mx-auto mt-8">
            <img src="/images/icons/offline.png" class="w-20 mx-auto" alt="Offline icon">
            <h1 class="text-center text-red-900 font-bold text-4xl my-4">Server offline</h1>
            <p class="text-center text-xl">
                The system is currently unable to communicate with the server.
            </p>
            <p class="text-center text-xl">
                Please ensure the server is online and working correctly.
            </p>
            <p class="text-center text-xl my-4">
                <a href="/" class="btn-red">
                    Retry
                </a>
            </p>
        </div>
    </body>

</html>