<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1>Join Hotel Plymouth.</h1>
            <p class="text-size-xl">Register for an account here.</p>
        </header>

        <main>
            <form class="text-center grid max-w-md mx-auto gap-2">
                <div class="grid grid-cols-2 gap-2">
                    <div class="grid gap-2">
                        <label for="firstname">Forename</label>
                        <input type="text" id="firstname">
                    </div>
                    <div class="grid gap-2">
                        <label for="lastname">Surname</label>
                        <input type="text" id="lastname">
                    </div>
                </div>
                <label for="email">Email address</label>
                <input type="email" id="email">
                <div></div>
                <label for="password">Password</label>
                <input type="password" id="password">
                <div></div>
                <button type="button" onclick="register();" class="btn-neutral">Register</button>
            </form>
            <p class="text-sm text-center">Already got an account? <a href="/login" class="link-inline">Login</a>.</p>
        </main>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/auth.js"></script>
    </body>
</html>