<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1><span id="type"></span> room for <span id="guests"></span> guests.</h1>
            <p class="text-size-xl">Room <span id="roomNumber"></span></p>
        </header>

        <main>
            <h2 class="ph-b">About this room</h2>
            <p id="description"></p>
            <h2 class="ph">Price</h2>
            <p>This room is £<span id="price"></span> per night and can fit <span id="max_guests"></span>.</p>
            <h2 class="ph">Book</h2>
            <div class="grid grid-cols-1 gap-2">
                <div class="hidden">
                    <label for="room_number">Room ID</label>
                    <input type="text" id="room_number">
                </div>
                <label for="start_date">Start date</label>
                <input type="date" id="start_date">
                <label for="end_date">Start date</label>
                <input type="date" id="end_date">
                <button class="btn-neutral" onclick="createBooking();">Book</button>
            </div>
        </main>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/room.js"></script>
        <script src="/js/requests/booking_create.js"></script>
        <script>
            let url = window.location.href.replace(/\/$/, '');
            let roomNumber = url.substr(url.lastIndexOf('/') + 1);
            $('#room_number').val(roomNumber);
            requestRoomData(roomNumber);
        </script>
    </body>
</html>