<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Room - Hotel Plymouth</title>
        <%- include('common/head.ejs'); -%>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
    </head>
    <body>
        <%- include('common/nav.ejs'); -%>

        <header class="bg-blue-500 text-white p-std">
            <h1><span id="type"></span> room for <span id="guests"></span> guests.</h1>
            <p class="text-size-xl">Room <span id="roomNumber"></span></p>
        </header>

        <main>
            <div class="lg:flex lg:space-x-4">
                <div class="lg:flex-grow">
                    <h2 class="ph-b">About this room</h2>
                    <div class="grid gap-2">
                        <p id="description"></p>
                        <p>This room can fit <span id="max_guests"></span> guests.</p>
                    </div>
                </div>
                <div class="bg-neutral-100">
                    <h2 class="ph-t lg:pt-0 ph-b">Price</h2>
                    <p>This room is £<span id="price"></span> per night.</p>
                </div>
            </div>
            <h2 class="ph">Book</h2>

            <div class="grid grid-cols-1 gap-2">
                <div class="hidden">
                    <label for="room_number">Room ID</label>
                    <input type="text" id="room_number">
                </div>
                <label for="start_date">Start date</label>
                <input type="date" id="start_date">
                <label for="end_date">End date</label>
                <input type="date" id="end_date">
                <button class="btn-neutral" onclick="createBooking();" id="createBookingBtn">Book</button>
            </div>

            <h3 class="ph">Availability</h3>
            <div class="calendar" id="calendar" data-provide="calendar"></div>
        </main>

        <%- include('common/scripts.ejs'); -%>
        <script src="/js/room.js"></script>
        <script src="/js/requests/booking_create.js"></script>
        <script src="/js/requests/booking_retrieve.js"></script>
        <script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
        <script>
            let url = window.location.href.replace(/\/$/, '');
            let roomNumber = url.substr(url.lastIndexOf('/') + 1);

            $('#room_number').val(roomNumber);

            getRoomData();

            socket.on("update-room", function () {
                console.log('Room update received.')
                getRoomData();
            });

            socket.on("update-booking", function () {
                console.log('Bookings update received.')
                getBookingInfo();
            });

            function getRoomData() {
                requestRoomData(roomNumber)
                    .then(data => {
                        displayData(data);
                        getBookingInfo();

                    }).catch(error => {
                    console.error(error);
                });
            }

            function getBookingInfo() {
                getRoomBookings(roomNumber)
                    .then(data => {
                        let greenData = new Object({_id: '', user_id: '', roomNumber: '', start_date: '2024-01-01', end_date: '2024-12-30', color: 'green'});
                        data.unshift(greenData);
                        for (let item in data) {
                            data[item] = data[item];
                            if (data[item].color === undefined) {
                                data[item].color = 'red';
                            }
                        }
                        const calendar = new Calendar('#calendar', {
                            dataSource: function() {
                                if (data) {
                                    return data.map(r => ({
                                        startDate: new Date(r.start_date),
                                        endDate: new Date(r.end_date),
                                        color: r.color
                                    }));
                                }

                                return [];
                            }
                        });
                        calendar.setStyle('background');
                    }).catch(error => {
                    console.error(error);
                });
            }
        </script>
    </body>
</html>