<h2 class="ph-b">Create new room</h2>
<div class="grid gap-2">
    <label for="nr_type" type="text">Room type</label>
    <input id="nr_type">

    <label for="nr_room_number" type="number">Room number</label>
    <input id="nr_room_number">

    <label for="nr_floor_number" type="number">Floor number</label>
    <input id="nr_floor_number">

    <label for="nr_max_guests" type="number">Max guests</label>
    <input id="nr_max_guests">

    <label for="nr_price" type="number">Price per night (GBP)</label>
    <input id="nr_price">

    <label for="nr_description" type="text">Description</label>
    <textarea id="nr_description"></textarea>

    <label for="nr_image" type="text">Image URL</label>
    <input id="nr_image">

    <button onclick="createRoom()" class="btn-neutral">Create new room</button>
</div>