<nav>
    <a href="/" class="text-lg font-bold">Hotel Plymouth</a>
    <div class="flex-grow"></div>
    <a href="/login" class="btn-neutral">Login</a>
    <a href="/register" class="btn-neutral">Register</a>
</nav>